
<html>
<head>
    <title>Zhongrui Wang</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Zhongrui Wang'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        data assimilation,
        machine learning
    '>
    <meta name='author' content='Zhongrui Wang'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>

    <!-- {% include mathjax.html %} -->
</head>
<body>
    <!-- {% include nav.html %} -->
    <div id='blog' class='wrap'>

      <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
        <tr style="padding:0px">
          <td style="padding:0px">
            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>
              <tr style="padding:0px">
                <td style="padding:0%;width:65%;vertical-align:middle">
                  <p style="text-align:center">
                    <h2>Zhongrui Wang</h2>
                  </p>
                  <!-- bio -->
                  <p>I am a PhD student at the <a href="https://math.wisc.edu/">Department of Mathematics</a>, <a href="https://www.wisc.edu/">University of Wisconsin-Madison</a>, supervised by Prof. <a href="https://people.math.wisc.edu/~nchen29/">Nan Chen</a>. Previously, I work with Prof. <a href="https://as.nju.edu.cn/as_en/00/ff/c20738a327935/page.htm">Lili Lei</a> at the <a href="https://as.nju.edu.cn/as_en/main.htm">School of Atmospheric Sciences</a>, <a href="https://www.nju.edu.cn/">Nanjing University</a> on ensemble-based data assimilation. My research interests lie in reduced-order modeling for complex systems, data assimilation, and machine learning applications.
                  </p>
                  <p> Email me at <span style="font-family: courier;">
                zhongrui[dot]wang@wisc.edu</span>.
                </p>
                  <p style="text-align:center">
                    <!-- <a href="mailto:jonbarron@gmail.com">Email</a> &nbsp/&nbsp -->
                    <!-- <a href="data/JonBarron-CV.pdf">CV</a> &nbsp/&nbsp -->
                    <!-- <a href="data/JonBarron-bio.txt">Bio</a> &nbsp/&nbsp -->
                    
                    <a href='/research'>Research</a> &nbsp/&nbsp
                    <a href="https://github.com/zhongruiw/">Github</a> &nbsp/&nbsp
                    <a href='/blog'>Blog</a> &nbsp/&nbsp
                    <!-- <a href="https://mathstodon.xyz/@zhongruiw">Mathstodon</a> &nbsp/&nbsp -->
                    <a href='/CV/cv.pdf'>CV</a>
                  </p>
                </td>
                <td style="padding:2.5%;width:30%;max-width:35%">
                  <a href="images/avater.jpg"><img style="width:100%;max-width:100%" alt="profile photo" src="images/avater.jpg" class="hoverZoomLink"></a>
                </td>
              </tr>
            </tbody></table>

        <div id='posts' class='section'>
                <div class='post-row'>
                    <p class='post-title'>
                        <h3>News</h3>
                    </p>

                    <p class='post-subtitle'>
                        Upcoming talk: <a href="https://www.siam.org/conferences-events/siam-conferences/an25/">Third Joint SIAM/CAIMS Annual Meetings (AN25)</a> <br>
                        <em> Montréal, Canada, Jul 28-Aug 1, 2025</em>
                    </p>
                    <p class='post-subtitle'>
                        Upcoming talk: <a href="https://www.siam.org/conferences-events/siam-conferences/ds25/">SIAM Conference on Applications of Dynamical Systems</a> on nonlinear and stochastic dynamics in weather and climate science <br>
                        <em> Denver, USA, May 11-15, 2025</em>
                    </p>

                    <p class='post-subtitle'>
                        New preprint: "<a href="https://doi.org/10.48550/arXiv.2412.11042">A Closed-Form Nonlinear Data Assimilation Algorithm for Multi-Layer Flow Fields</a>" &nbsp; <a href="/poster/AGUposter.pdf">[<em>poster</em>]</a> <a href="https://github.com/zhongruiw/LagrangianDA">[<em>code</em>]</a><br>
                        <em>Arxiv, 2024</em> 
                    </p>

                </div>

        </div>
    </div>
</body>
</html>
