---
title: Research
---

<html>
<head>
    <title>Zhongrui Wang</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Zhongrui Wang is a PhD student at UW-Madison.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        bayesian inference
    '>
    <meta name='author' content='Zhongrui Wang'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>
</head>
<body>
    <div class='nav'>
        <ul class='wrap'>
            <li><a href='/'>Home</a></li>
            <li><a href='https://scholar.google.com/citations?user=s6Gse48AAAAJ&hl=en' target='_blank'>Google Scholar</a></li>
        </ul>
    </div>

    <div id='blog' class='wrap'>
        <div id='posts' class='section'>
                <div class='post-row'>
                    <p class='post-title'>
                        <h3>Publications</h3>
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://www.sciencedirect.com/science/article/abs/pii/S004578252500461X">Modeling partially observed nonlinear dynamical systems and efficient data assimilation via discrete-time conditional Gaussian Koopman network</a> &nbsp; <br>
                        Chuanqi Chen, <strong>Zhongrui Wang</strong>, Nan Chen, and Jinlong Wu
                        <br>
                        <em>Computer Methods in Applied Mechanics and Engineering</em>, 2025
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://doi.org/10.48550/arXiv.2412.11042">A Closed-Form Nonlinear Data Assimilation Algorithm for Multi-Layer Flow Fields</a> &nbsp; <a href="/poster/AGUposter.pdf">[<em>poster</em>]</a> <a href="https://github.com/zhongruiw/LagrangianDA">[<em>code</em>]</a><br>
                        <strong>Zhongrui Wang</strong>, Nan Chen, and Di Qi
                        <br>
                        <em>Arxiv preprint</em>, 2024
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2023MS003642">CNN-based adaptive localization for an ensemble Kalman filter</a> &nbsp; <a href="https://github.com/zhongruiw/CNN_Localization">[<em>code</em>]</a><br>
                        <strong>Zhongrui Wang</strong>, Lili Lei, Jeffrey L. Anderson, Zhe-Min Tan, and Yi Zhang
                        <br>
                        <em>Journal of Advances in Modeling Earth Systems (JAMES)</em>, 2023
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://link.springer.com/article/10.1007/s11430-023-1229-7">The importance of data assimilation components for initial conditions and subsequent error growth</a><br>
                        <strong>Zhongrui Wang</strong>*, Haohao Sun*, Lili Lei, and Zhe-Min Tan
                        <br>
                        <em>Science China Earth Sciences</em>, 2023
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://journals.ametsoc.org/view/journals/mwre/149/12/MWR-D-21-0002.1.xml"> Integrated Hybrid Data Assimilation for an Ensemble Kalman Filter</a> <br>
                        Lili Lei, <strong>Zhongrui Wang</strong>, and Zhe-Min Tan
                        <br>
                        <em>Monthly Weather Review (MWR)</em>, 2021
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://acp.copernicus.org/articles/21/7199/2021/"> Mobile monitoring of urban air quality at high spatial resolution by low-cost sensors: impacts of COVID-19 pandemic lockdown</a> <br>
                        Shibao Wang, Yun Ma, <strong>Zhongrui Wang</strong>, Lei Wang, Xuguang Chi, Aijun Ding, Mingzhi Yao, Yunpeng Li, Qilin Li, Mengxian Wu, Ling Zhang, Yongle Xiao, and Yanxu Zhang
                        <br>
                        <em>Atmospheric Chemistry and Physics (ACP)</em>, 2021
                    </p>

                    <p class='post-subtitle'>
                        <a href="https://acp.copernicus.org/articles/21/2917/2021/">Large-eddy simulation of traffic-related air pollution at a very high resolution in a mega-city: evaluation against mobile sensors and insights for influencing factors</a> <br>
                        Yanxu Zhang, Xingpei Ye, Shibao Wang, Xiaojing He, Lingyao Dong, Ning Zhang, Haikun Wang, <strong>Zhongrui Wang</strong>, Yun Ma, Lei Wang, Xuguang Chi, Aijun Ding, Mingzhi Yao, Yunpeng Li, Qilin Li, Ling Zhang, Yongle Xiao
                        <br>
                        <em>Atmospheric Chemistry and Physics (ACP)</em>, 2021
                    </p>
                </div>

                <small><em>* Denotes joint authorship.</em></small>
        </div>
    </div>

</body>
</html>
