---
title: Talks
---

<html>
<head>
    <title>Zhongrui Wang</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Zhongrui Wang is a PhD student at UW-Madison.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        bayesian inference
    '>
    <meta name='author' content='Zhongrui Wang'>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>
    <link href='/css/trac.css' rel='stylesheet'/>
    <link href='/css/markdown.css' rel='stylesheet'/>
</head>
<body>
    <div class='nav'>
        <ul class='wrap'>
            <li><a href='/'>Home</a></li>
        </ul>
    </div>

    <div id='blog' class='wrap'>
        <div id='posts' class='section'>
                <div class='post-row'>
                    <p class='post-title'>
                        <h3>Presentations</h3>
                    </p>

                    <p class='post-subtitle'>
                        Upcoming Poster: presenting <a href="https://www.sciencedirect.com/science/article/abs/pii/S004578252500461X">Conditional Gaussian Koopman Network (CGKN)</a> at <a href="https://www.imsi.institute/activities/digital-twins/opening-tutorial-mathematical-statistical-foundations-of-data-assimilation-for-digital-twins/">IMSI Digital Twins workshop</a> <br>
                        <em> Chicago, USA, Sep 15-19, 2025</em>
                    </p>

                    <p class='post-subtitle'>
                        Poster: <a href="https://people.math.wisc.edu/~nchen29/DA_Conference_2025.html">Data Meets Dynamics: Workshop on Data Assimilation for Complex Systems and Applications</a>. <br>
                        <em> Madison, USA, Aug 21-22, 2025</em>
                    </p>

                    <p class='post-subtitle'>
                        Talk: <a href="https://www.siam.org/conferences-events/siam-conferences/an25/">Third Joint SIAM/CAIMS Annual Meetings (AN25)</a> thanks to the SIAM student travel awards and the Student Research Grants by Graduate School. <br>
                        <em> Montréal, Canada, Jul 28-Aug 1, 2025</em>
                    </p>

                    <p class='post-subtitle'>
                        Talk: <a href="https://www.siam.org/conferences-events/siam-conferences/ds25/">SIAM Conference on Applications of Dynamical Systems</a> on nonlinear and stochastic dynamics in weather and climate science <br>
                        <em> Denver, USA, May 11-15, 2025</em>
                    </p>

                    <p class='post-subtitle'>
                        Talk: <a href="https://isda-online.univie.ac.at/online-events/may-2025-non-linear-data-assimilation/">ISDA online: Nonlinear Data Assimilation </a> <br>
                        <em> Online, May 8, 2025</em>
                    </p>

                    <p class='post-subtitle'>
                        Poster: <a href="https://www.agu.org/annual-meeting-2024">American Geophysical Union (AGU) Annual Meeting</a> <br>
                        <em> Washington, D.C., USA, Dec 9-13, 2024</em>
                    </p>

                    <p class='post-subtitle'>
                        Talk: <a href="https://annual.ametsoc.org/2022/">102nd American Meteorological Society (AMS) Annual Meeting</a> <br>
                        <em> Online, Jan 23-27, 2022</em>
                    </p>
                </div>
        </div>
    </div>

</body>
</html>
